{% extends "layout.html" %}

{% block content %}

    <article class="media content-section">
        <div id="{{ figure_ids[0] }}"></div>
    </article>

{% endblock %}

<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{figure_ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>